<section class="container content">
  <h1 class="hero-title text-center">Blogifier, an <a href="https://github.com/blogifierdotnet/blogifier/"
      target="_blank">open source</a> blogging platform!</h1>
  <p class="hero-desc">Blogifier is simple, beautiful, light-weight open source blog written in .NET Core. It is
    cross-platform, extendable and customizable web application, that brings all expected from modern blog in small,
    portable package. By default, it uses file-based SQLite database, scaling up to any Entity-Framework compatible data
    storage.</p>

  <owl-carousel [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="item" *ngFor="let image of mySlideImages;let i = index">
      <div>
        <img src={{image}} />
      </div>
    </div>
  </owl-carousel>

  <div class="owl-carousel slider slider-lg">
    <figure>
      <img src="assets/img/01.jpg" alt="Editor - Blogifier Version 1.5" />
      <figcaption>Editor - Blogifier Version 1.5</figcaption>
    </figure>
    <figure>
      <img src="assets/img/02.jpg" alt="Posts List" />
      <figcaption>Post List Style</figcaption>
    </figure>
    <figure>
      <img src="assets/img/03.jpg" alt="Post Grid" />
      <figcaption>Post Grid Style</figcaption>
    </figure>
    <figure>
      <img src="assets/img/04.jpg" alt="Widgets" />
      <figcaption>Widgets</figcaption>
    </figure>
    <figure>
      <img src="assets/img/05.jpg" alt="Widget Settings" />
      <figcaption>Widget Settings</figcaption>
    </figure>
    <figure>
      <img src="assets/img/06.jpg" alt="Settings" />
      <figcaption>Settings</figcaption>
    </figure>
  </div>
</section>