<div *ngIf="blogSettings" class="jumbotron text-center">
  <h1>{{blogSettings.title}}</h1>
  <div class="container text-center">
    <app-search></app-search> 
  </div>
</div>

<div *ngIf="postList" class="container">
  <div *ngFor="let post of postList.posts">
    <a href="posts/{{post.slug}}">
      <h2 class="post-title">{{post.title}}</h2>
    </a>
    <p [innerHTML]="post.description"></p>
    <hr>
  </div>
  <!-- Pager -->
  <div class="clearfix">
    <a *ngIf="postList && postList.pager.showNewer" class="btn btn-primary float-left"
      href="?page={{postList.pager.newer}}">&larr; Newer Posts</a>
    <a *ngIf="postList && postList.pager.showOlder" class="btn btn-primary float-right"
      href="?page={{postList.pager.older}}">Older Posts &rarr;</a>
  </div>
</div>

<div class="container text-center">
  <app-newsletter></app-newsletter>
</div>