<header *ngIf="settings" class="blog-header">
	<div class="container d-flex">
		<a href="/" class="blog-logo">
			<img src="assets/img/logo.png" alt="{{settings.title}}" />
		</a>
		<nav class="navbar navbar-expand-lg navbar-dark ml-auto">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="admin">Admin</a>
					</li>
				</ul>
			</div>
		</nav>
		<form class="blog-search-form my-auto" role="search" asp-controller="Blog" asp-action="Index" method="post">
			<input type="search" id="term" name="term" [(ngModel)]="term" (keyup.enter)="search()" class="form-control" placeholder="Search..." autocomplete="off">
			<button (click)="search()"><i class="fa fa-search"></i></button>
		</form>
	</div>
</header>

<router-outlet></router-outlet>

<footer class="blog-footer">
	<div class="blog-admin">
		<a href="admin"><i class="fa fa-user"></i></a>
	</div>
</footer>



<script src="~/themes/vision/js/jquery.min.js"></script>
<script src="~/themes/vision/js/popper.min.js"></script>
<script src="~/themes/vision/js/bootstrap.min.js"></script>
<script src="~/themes/vision/js/prism.js"></script>
<script src="~/themes/vision/js/blog.js" asp-append-version="true"></script>