h2.post-title a {
  font-size: 40px;
  color: #66615B !important;
}

.post-cover img {
  width: 100%;
  margin: 10px 0;
}

.pager {
  margin-top: 20px;
}

.page-link {
  border: 2px solid #f5593d !important;
  color:#f5593d !important;
  font-size: 14px;
}

.post-meta a {
  color: #f5593d;
}

.angular-logo img {
  width: 60px !important;
}

.example-page .img-rounded {
  max-height: 300px;
}

.btn-newsletter {
  margin-top: 20px;
}