<p>
	Join our subscribers list to get the latest updates directly in your inbox.
</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="register-form">
	<div class="input-group form-group-no-border">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-envelope"></i>
			</span>
		</div>
		<input type="email" name="txtEmail" ngModel [email]="true" class="form-control" placeholder="Email" />
		<div class="input-group-append btn-newsletter">
			<button class="btn btn-secondary" type="submit">Subscribe</button>
		</div>
	</div>
</form>