/* You can add global styles to this file, and also import other style files */
.post-content img {
  max-width: 100%;
  margin: 15px 0;
}

pre { 
  box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
  border: 1px solid #777;
  border-radius: 0.3rem;
	padding: 10px;
	color: #fff;
  background-color: #000;
}

table {
	border: 1px solid #ccc;
	padding: 10px !important;
	border-collapse: separate;
	border-radius: 5px;
}

td, th {
	padding: 0 5px;
}

thead {
	border-bottom: 1px solid #ccc;
}

#newsletter {
	margin-top: 2em;
}

.newsletter-title {
	font-family: "Merriweather";
	font-size: 1.75rem;
	line-height: 1.3;
}