<h4 class="contact-title">Contact us</h4>
<form class="form-horizontal">
	<div class="form-group">
		<input id="fname" name="name" type="text" placeholder="Your Name" class="form-control">
	</div>
	<div class="form-group">
		<input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
	</div>
	<div class="form-group">
		<textarea class="form-control" id="message" name="message" placeholder="Enter your massage here."
			rows="7"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-secondary btn-lg">Submit</button>
	</div>
</form>