<!-- Page Header -->
<header *ngIf="postModel" class="masthead" [ngStyle]="{'background-image':'url('+postCover+')'}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{postModel.post.title}}</h1>
          <h2 [innerHTML]="postModel.post.description" class="subheading"></h2>
          <span class="meta">Posted by
            <a href="?author={{postModel.post.author.appUserName}}">{{postModel.post.author.displayName}}</a>
            {{postModel.post.published | date:'longDate'}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div *ngIf="postModel" class="row">
      <div [innerHTML]="postModel.post.content" class="col-lg-8 col-md-10 mx-auto">
      </div>
    </div>
  </div>
</article>
<hr>