<section *ngIf="postList" class="container content">

  <article *ngFor="let post of postList.posts" class="post">
    <h1><a href="posts/{{post.slug}}">{{post.title}}</a></h1>
    <div class="post-meta">
      <a class="post-meta-author" href="?author={{post.author.appUserName}}">{{post.author.displayName}}</a>
      <time class="post-meta-time">/ {{toDate(post.published)}}</time>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="post-cover">
          <img src="{{apiRoot}}{{post.cover}}" alt="post.title">
        </div>
      </div>
      <div class="col-md-8">
        <div [innerHTML]="post.description" class="post-description"></div>
        <a class="btn btn-secondary btn-round" href="posts/{{post.slug}}">Read</a>
      </div>
    </div>
  </article>

  <div *ngIf="postList && (postList.pager.showNewer || postList.pager.showOlder)" class="pager text-center">
    <ul class="pagination justify-content-center">
      <li *ngIf="postList.pager.showOlder" class="page-item">
        <a aria-label="Older" class="page-link" href="?page={{postList.pager.older}}">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li *ngIf="postList.pager.showNewer" class="page-item">
        <a aria-label="Newer" class="page-link" href="?page={{postList.pager.newer}}">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </div>

</section>