h1 a {
  color: #5731b3;
  font-size: 32px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.post-meta a {
  color: #5731b3;
}

.post-meta {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.post-cover img {
  width: 100%;
}

article {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.0em;
  font-weight: 300;
}