<ng-template [ngIf]="settings">
	<div class="page-cover" [ngStyle]="{'background-image':'url(' + root + '/' + settings.cover + ')'}">
		<h1 class="page-cover-title">
			<a href="/">{{settings.title}}</a>
		</h1>
		<p class="page-cover-desc">{{settings.description}}</p>
	</div>
	<div class="page-content">
		<div class="container">
			<h4>Social Buttons</h4>
			<form (ngSubmit)="onSubmit()" class="form-horizontal">

				<!--
				<div class="form-group">
					<input id="name" name="name" [(ngModel)]="txtName" class="form-control">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
				</div>
				-->
				
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button"><i class="fa fa-user"></i></button>
							<button class="btn btn-outline-secondary" type="button">Remove</button>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-secondary btn-lg">Add new</button>
				</div>

			</form>
		</div>
	</div>
	<app-footer></app-footer>
</ng-template>