<header class="blog-header d-flex flex-column">
  <div class="container d-flex">
    <a href="/" class="blog-logo my-auto d-flex">
      <img src="assets/img/logo-white.png" alt="Blog Title" class="my-auto" />
    </a>
    <ul *ngIf="socialButtons" class="blog-social nav ml-auto my-auto">   
      <li *ngFor="let btn of socialButtons" class="blog-social-item">
        <a href="{{btn.link}}" target="_blank" class="blog-social-link">
          <i class="blog-social-icon fa {{btn.icon}}"></i>
        </a>
      </li>
    </ul>
    <button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
      <i class="fa fa-search"></i>
    </button>
  </div>
</header>

<router-outlet></router-outlet>

<div class="modal fade blog-search" id="blog-search" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <input type="search" id="term" name="term" ngModel class="form-control form-control-lg" placeholder="Search..." autocomplete="off" autofocus>
        </form>
      </div>
    </div>
  </div>
</div>