<section class="s-pageheader s-pageheader--home">
	<app-header></app-header>
	<app-featured></app-featured>
</section>

<section *ngIf="model" class="s-content">

	<div class="row masonry-wrap">
		<div class="masonry">

			<div class="grid-sizer"></div>

			<article *ngFor="let post of model.posts" class="masonry__brick entry format-standard" data-aos="fade-up">
				<div class="entry__thumb">
					<a href="posts/{{post.slug}}" class="entry__thumb-link">
						<img src="{{root}}/{{post.cover}}" srcset="{{root}}/{{post.cover}} 1x, {{root}}/{{post.cover}} 2x" alt="">
					</a>
				</div>
				<div class="entry__text">
					<div class="entry__header">
						<div class="entry__date">
							<a href="posts/{{post.slug}}">{{post.published | date :'longDate'}}</a>
						</div>
						<h1 class="entry__title"><a href="posts/{{post.slug}}">{{post.title}}</a></h1>
					</div>
					<div [innerHTML]="post.description" class="entry__excerpt">
					</div>
					<div class="entry__meta">
						<span *ngIf="post.categories" class="entry__meta-links">
							<a *ngFor="let tag of post.categories.split(',')" href="?category={{tag}}">{{tag}}</a>
						</span>
					</div>
				</div>
			</article> <!-- end article -->

		</div> <!-- end masonry -->
	</div> <!-- end masonry-wrap -->

	<div *ngIf="model.pager.showOlder || model.pager.showNewer" class="row">
		<div class="col-full">
			<nav class="pgn">
				<ul>
					<li *ngIf="model.pager.showOlder"><a class="pgn__prev" href="?page={{model.pager.older}}">Prev</a></li>
					<li><span class="pgn__num current">{{model.pager.currentPage}}</span></li>
					<li><span class="pgn__num"> out of {{model.pager.lastPage}}</span></li>
					<li *ngIf="model.pager.showNewer"><a class="pgn__next" href="?page={{model.pager.newer}}">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>

</section> <!-- s-content -->

<app-footer></app-footer>