<header class="blog-header d-flex flex-column">
    <div class="container d-flex">
        <a href="/" class="blog-logo my-auto d-flex">
            <img src="assets/img/logo-white.png" alt="Welcome to Blogifier!" class="my-auto" />
        </a>
        <ul class="blog-social nav ml-auto my-auto">
            <li class="blog-social-item"><a href="https://www.facebook.com/blogifierdotnet" target="_blank" class="blog-social-link"><i class="blog-social-icon fa fa-facebook-official"></i></a></li>
        <li class="blog-social-item"><a href="/feed/rss" target="_blank" class="blog-social-link"><i class="blog-social-icon fa fa-rss-square"></i></a></li>
        </ul>
        <button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</header>
    
<article class="post-single">
        <div class="post-cover" style="background-image: url('assets/img/cover-desk.jpg')"></div>
        <section class="container">
            <div class=" post-body">
                <header class="post-header">
                    <h2 class="post-title">Welcome to Blogifier!</h2>
                    <div class="post-meta">
                        <a href="/blogifier/authors/admin">
                            <img class="post-meta-img" src="assets/img/avatar.png" alt="Administrator" />
                            <span class="post-meta-author">Administrator</span>
                        </a>
                        <time class="post-meta-time">Sep 11, 2018</time>
                            <span>/</span>
                                <span>
                                    <a href="/blogifier/categories/welcome">welcome</a>
                                </span>
                                <span>
                                    <a href="/blogifier/categories/blog">blog</a>
                                </span>
                    </div>
                </header>
                <div class="post-content">
                    <h2>What is Blogifier</h2>
<p>Blogifier is simple, beautiful, light-weight open source blog written in .NET Core. This cross-platform, highly extendable and customizable web application brings all the best blogging features in small, portable package.</p>
<h2>System Requirements</h2>
<ul>
<li>Windows, Mac or Linux</li>
<li>ASP.NET Core 2.1</li>
<li>Visual Studio 2017, VS Code or other code editor (Atom, Sublime etc)</li>
<li>SQLite by default, MS SQL Server tested, EF compatible databases should work</li>
</ul>
<h2>Getting Started</h2>
<ol>
<li>Clone or download source code</li>
<li>Run application in Visual Studio or using your code editor</li>
<li>Use admin/admin to log in as admininstrator</li>
<li>Use demo/demo to log in as user</li>
</ol>
<h2>Demo site</h2>
<p>The <a href="http://blogifier.azurewebsites.net">demo site</a> is a playground to check out Blogifier features. You can write and publish posts, upload files and test application before install. And no worries, it is just a sandbox and will clean itself.</p>

                </div>

                    <ul class="pagination justify-content-center">
                        <li class="item item-prev">
                            <a class="item-link" href="/" title="New demo post">
                                <i class="item-icon fa fa-angle-left"></i>
                            </a>
                        </li>
                                            </ul>
            </div>
        </section>
    </article>
