.post-meta a {
  color: #f5593d;
}
.post-meta {
  font-size: 1.8em;
  margin-top: 30px;
}

.description a {
  color: #666;
}

.description {
  margin: 15px 0 25px 0 !important;
}

:host ::ng-deep .post-content img {
  width: 100%;
}

:host ::ng-deep pre { 
  box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
  border: 1px solid #777;
  border-radius: 0.3rem;
	padding: 10px;
	color: #fff;
  background-color: #000;
}