<div *ngIf="model" class="page-content">

	<article *ngFor="let post of model.posts" class="post">
		<div class="post-cover">
			<img src="{{root}}/{{post.cover}}" alt="{{post.title}}">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<header class="post-header">
						<h2 class="post-title"><a href="posts/{{post.slug}}">{{post.title}}</a></h2>
					</header>
					<span *ngIf="post.featured" class="post-featrued-label" title="Featured" data-toggle="tooltip">
						<i class="fa fa-star"></i>
					</span>
				</div>
				<div class="col-sm-2">
					<div class="post-meta">
						<a class="post-meta-author" href="?author={{post.author.appUserName}}">
							<img class="post-meta-author-avatar" src="{{root}}/{{post.author.avatar}}"
								alt="Author: {{post.author.displayName}}" />
							<div class="post-meta-author-name">{{post.author.displayName}}</div>
						</a>
						<div *ngIf="post.categories" class="post-meta-category">
							<a *ngFor="let tag of post.categories.split(',')" href="?category={{tag}}"> {{tag}} </a>
						</div>
						<time class="post-meta-time">{{post.published | date :'longDate'}}</time>
					</div>
				</div>
				<div class="col-sm-10">
					<div [innerHTML]="post.description" class="post-description"></div>
				</div>
			</div>
		</div>
	</article>

	<ul *ngIf="model.pager.showOlder || model.pager.showNewer" class="pagination justify-content-center">
		<li *ngIf="model.pager.showOlder" class="item item-prev">
			<a class="item-link" href="?page={{model.pager.older}}">
				<i class="fa fa-chevron-left"></i>
			</a>
		</li>
		<li *ngIf="model.pager.showNewer" class="item item-next">
			<a class="item-link" href="?page={{model.pager.newer}}">
				<i class="fa fa-chevron-right"></i>
			</a>
		</li>
	</ul>
</div>