<div *ngIf="model" class="s-pageheader">
	<app-header></app-header>
</div>

<section *ngIf="model" class="s-content s-content--narrow s-content--no-padding-bottom">

	<article class="row format-standard">

		<div class="s-content__header col-full">
			<h1 class="s-content__header-title">
				{{model.post.title}}
			</h1>
			<ul class="s-content__header-meta">
				<li class="date">{{model.post.published | date :'longDate'}}</li>
				<li *ngIf="model.post.categories" class="cat">
					In
					<a *ngFor="let tag of model.post.categories.split(',')" href="?category={{tag}}"> {{tag}} </a>
				</li>
			</ul>
		</div>

		<div class="s-content__media col-full">
			<div class="s-content__post-thumb">
				<img src="{{root}}/{{model.post.cover}}" alt="{{model.post.title}}">
			</div>
		</div>

		<div class="col-full s-content__main">

			<div [innerHTML]="model.post.content"></div>

			<p *ngIf="model.post.categories" class="s-content__tags">
				<span>Post Tags</span>
				<span class="s-content__tag-list">
					<a *ngFor="let tag of model.post.categories.split(',')" href="?category={{tag}}"> {{tag}} </a>
				</span>
			</p>

			<div class="s-content__author">
				<img src="{{root}}/{{model.post.author.avatar}}" alt="">
				<div class="s-content__author-about">
					<h4 class="s-content__author-name">
						<a href="?author={{model.post.author.appUserName}}">{{model.post.author.displayName}}</a>
					</h4>
					<p>{{model.post.author.bio}}</p>
					<!--
					<ul class="s-content__author-social">
						<li><a href="#0">Facebook</a></li>
						<li><a href="#0">Twitter</a></li>
						<li><a href="#0">GooglePlus</a></li>
						<li><a href="#0">Instagram</a></li>
					</ul>
					-->
				</div>
			</div>

			<div *ngIf="model.older || model.newer" class="s-content__pagenav">
				<div class="s-content__nav">
					<div *ngIf="model.older" class="s-content__prev">
						<a href="posts/{{model.older.slug}}" rel="prev">
							<span>Older Post</span>
							{{model.older.title}}
						</a>
					</div>
					<div *ngIf="model.newer" class="s-content__next">
						<a href="posts/{{model.newer.slug}}" rel="next">
							<span>Newer Post</span>
							{{model.newer.title}}
						</a>
					</div>
				</div>
			</div>

		</div>

	</article>

	<div class="comments-wrap">
		<div id="comments" class="row">
			<div class="col-full">
        <h3 class="h2">Comments</h3>
        <disqus [identifier]="pageId"></disqus>
			</div>
		</div>
	</div>

</section>

<app-footer></app-footer>