<!-- Page Header -->
<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div *ngIf="postList" class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let post of postList.posts" class="post-preview">
        <a href="posts/{{post.slug}}">
          <h2 class="post-title">{{post.title}}</h2>
          <h3 [innerHTML]="post.description" class="post-subtitle"></h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{post.author.displayName}}</a>
          on {{post.published | date:'longDate'}}</p>
        <hr>
      </div>
      <!-- Pager -->
      <div class="clearfix">
        <a *ngIf="postList && postList.pager.showNewer" class="btn btn-primary float-left"
          href="?page={{postList.pager.newer}}">&larr; Newer Posts</a>
        <a *ngIf="postList && postList.pager.showOlder" class="btn btn-primary float-right"
          href="?page={{postList.pager.older}}">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
  <hr>
</div>