<div *ngIf="vm">
    <div *ngFor="let post of vm.posts" style="margin-bottom: 20px">
        <h2>{{ post.title }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Posted by <a href="?author={{post.author.appUserName}}">{{post.author.displayName}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ toDate(post.published) }}</li>
            </ol>
        </nav>
        <article>
            <div [innerHTML]="post.description"></div>
        </article>
        <button type="button" (click)="getPost(post.id)" class="btn btn-secondary">Read more</button>
    </div>
</div>
<div *ngIf="vm && vm.pager && (vm.pager.showNewer || vm.pager.showOlder)">
    <ul class="pagination">
        <li *ngIf="vm.pager.showOlder" class="page-item"><a class="page-link" href="?page={{vm.pager.older}}">❮ Older</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ vm.pager.currentPage }}</a></li>
        <li *ngIf="vm.pager.showNewer" class="page-item"><a class="page-link" href="?page={{vm.pager.newer}}">Newer ❯</a></li>
    </ul>
</div>